/* email form */
.emailForm {
  padding: 20px;
  max-width: fit-content;
  margin: auto;
  color: bisque;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* align-items: center; center vertically */
}
.emailForm input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 0.5rem 0;
}
.emailForm textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 0.5rem 0;
}
.submitButton {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #b43c94;
  color: white;
  cursor: pointer;
}