.FAQ {
  min-height: 100vh;
}
.language-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: #e6c3ff;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}
.faqContent {
  margin: auto;
  max-width: 75vw; /* Adjust this value to fit your desired width */
}
@media screen and (min-width: 1500px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .faqContent {
    max-width: 40vw; /* Adjust this value to fit your desired width */
  }
}
@media screen and (max-width: 500px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .faqContent {
    max-width: 60vw; /* Adjust this value to fit your desired width */
  }
}